<% title "Password Recovery" %>

<% form_for @user, :url => { :controller => :home, :action => :request_reset_password } do |f| %>
	<p>Your Email Address:<br />
	<%= f.text_field :email %></p>
	<p><%= submit_tag "Reset my Password" %></p>
<% end -%>